.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  margin-right: -8px;

  @media screen and(min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.filters__item {
  margin-bottom: 15px;
  @media screen and(min-width: 768px) {
    margin-bottom: 0;
  }
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
// .filters__item:nth-child(4),
// .filters__item:nth-child(5) {
//   margin-top: 15px;
//   @media screen and(min-width: 768px) {
//     margin-top: 0;
//   }
// }
.filters__button {
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;

  color: $tittle-text-color;
  background-color: $secondary-background-color;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $first-background-color;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
      0 3px 1px rgba(0, 0, 0, 0.1);
    transition: background-color 250ms $timing-function, color 250ms $timing-function,
      box-shadow 250ms $timing-function;
  }
}

/********************************** Проэкты ******************************/
.projects {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-right: -30px;
  //   margin-bottom: -30px;
  margin-top: 50px;
  margin-bottom: -30px;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.projects__item {
  //   flex-basis: calc(100% / 3 - 30px);
  //   margin-right: 30px;
  //   margin-bottom: 30px;
  margin-bottom: 30px;
  @media screen and(min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item:nth-child(3n) {
    margin-right: 0;
  }
}
.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
      0 1px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms $timing-function;
  }
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timing-function;

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0);
  }
}
.projects__overlay-text {
  position: absolute;

  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: $first-background-color;
  padding: 63px 24px;
}

.projects__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;

  flex-grow: 1;
}

.projects__title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: $tittle-text-color;
  font-size: 18px;
  line-height: 2;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.projects__text {
  color: $primary-text-color;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
