.section--NoPaddingTop {
  padding-top: 0;
  @media screen and(max-width:1199px) {
    display: none;
  }
}

.work {
  display: flex;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__thumb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.work__label {
  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__text {
  color: $first-background-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
